n8n-workflow-notificaciones-gemavip.json
{
  "name": "Notificaciones Gemavip",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "76e48302-8d17-42fc-bb9e-37865d180728",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-960, -256],
      "id": "c82860a6-0cc1-443c-a4fe-7bdd2c5d7227",
      "name": "Webhook",
      "webhookId": "76e48302-8d17-42fc-bb9e-37865d180728"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nlet body = item.body?.body || item.body || item;\nif (typeof body === 'string') {\n  try { body = JSON.parse(body); } catch(e) { body = {}; }\n}\nif (!body || typeof body !== 'object') body = {};\nif (typeof body.body === 'string' && body.body.trim().startsWith('{')) {\n  try { body = JSON.parse(body.body); } catch(e) {}\n}\n\nconst {\n  title = 'Nueva solicitud de asignación',\n  body: textoSolicitud = '',\n  clienteId = '',\n  clienteNombre = '',\n  cli_dni_cif = '',\n  cli_direccion = '',\n  cli_codigo_postal = '',\n  cli_poblacion = '',\n  cli_prov_id_nombre = '',\n  cli_tipc_id_nombre = '',\n  cli_telefono = '',\n  cli_estcli_id_nombre = '',\n  userEmail = '',\n  source = 'crm_gemavip',\n  timestamp = '',\n  approvalUrlApprove = '',\n  approvalUrlDecline = '',\n  toEmail = 'info@farmadescanso.com'\n} = body;\n\nconst urlApprove = approvalUrlApprove || item.body?.approvalUrlApprove || item.approvalUrlApprove || '';\nconst urlDecline = approvalUrlDecline || item.body?.approvalUrlDecline || item.approvalUrlDecline || '';\n\nconst textoSolicitudStr = typeof textoSolicitud === 'string' && !textoSolicitud.trim().startsWith('{') ? textoSolicitud : '';\n\nconst fechaFormateada = timestamp\n  ? new Date(timestamp).toLocaleString('es-ES', { dateStyle: 'medium', timeStyle: 'short' })\n  : '';\n\nconst botonesHtml = (urlApprove && urlDecline)\n  ? `<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-top: 24px;\"><tr><td style=\"padding: 0;\"><a href=\"${urlDecline}\" style=\"display:inline-block; padding:12px 24px; background:#1f2a44; color:#fff !important; text-decoration:none; border-radius:10px; font-weight:600; font-size:14px; margin-right:12px;\">Rechazar</a><a href=\"${urlApprove}\" style=\"display:inline-block; padding:12px 24px; background:#ea580c; color:#fff !important; text-decoration:none; border-radius:10px; font-weight:600; font-size:14px;\">Aprobar</a></td></tr></table>`\n  : '';\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>${title}</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: Poppins, Catamaran, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f8f8f8; color: #1f2a44; line-height: 1.6;\">\n  <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"background: linear-gradient(180deg, rgba(0,139,210,0.06) 0%, transparent 120px);\">\n    <tr>\n      <td style=\"padding: 40px 20px;\">\n        <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 14px; box-shadow: 0 10px 30px rgba(12,20,58,0.10); border: 1px solid #e5e5e5;\">\n          <tr>\n            <td style=\"padding: 0;\">\n              <div style=\"height: 4px; background: linear-gradient(90deg, #008bd2, #2ea3f2, #ffba00, #8fae1b); border-radius: 14px 14px 0 0;\"></div>\n              <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\">\n                <tr>\n                  <td style=\"padding: 28px 32px 20px;\">\n                    <p style=\"margin: 0 0 6px 0; font-size: 12px; color: #5b667a; text-transform: uppercase; letter-spacing: 0.5px;\">CRM Gemavip</p>\n                    <h1 style=\"margin: 0; font-size: 22px; font-weight: 700; color: #0c143a;\">${title}</h1>\n                    <p style=\"margin: 10px 0 0 0; font-size: 13px; color: #5b667a;\">${fechaFormateada}</p>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding: 0 32px 24px;\">\n                    <p style=\"margin: 0 0 20px 0; font-size: 15px; color: #1f2a44;\">\n                      Con este mensaje se solicita la autorización para asignar o no un cliente a un Comercial dentro del CRM.\n                    </p>\n                    ${textoSolicitudStr ? `<p style=\"margin: 0 0 24px 0; font-size: 14px; color: #5b667a; font-style: italic; padding: 16px; background-color: #f8f8f8; border-left: 4px solid #008bd2; border-radius: 0 8px 8px 0;\">\"${String(textoSolicitudStr).replace(/\"/g, '&quot;')}\"</p>` : ''}\n                    <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"border: 1px solid #e5e5e5; border-radius: 14px; overflow: hidden;\">\n                      <tr>\n                        <td style=\"padding: 20px 24px; background: linear-gradient(135deg, rgba(0,139,210,0.08) 0%, rgba(23,66,139,0.04) 100%);\">\n                          <h2 style=\"margin: 0 0 16px 0; font-size: 17px; font-weight: 600; color: #0c143a;\">${clienteNombre}</h2>\n                          <table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"font-size: 14px; color: #1f2a44;\">\n                            <tr><td style=\"padding: 6px 0; width: 140px; color: #5b667a;\">CIF/NIF</td><td style=\"padding: 6px 0;\">${cli_dni_cif || '—'}</td></tr>\n                            <tr><td style=\"padding: 6px 0; color: #5b667a;\">Dirección</td><td style=\"padding: 6px 0;\">${cli_direccion || '—'}</td></tr>\n                            <tr><td style=\"padding: 6px 0; color: #5b667a;\">CP / Población</td><td style=\"padding: 6px 0;\">${cli_codigo_postal || ''} ${cli_poblacion || '—'}</td></tr>\n                            <tr><td style=\"padding: 6px 0; color: #5b667a;\">Provincia</td><td style=\"padding: 6px 0;\">${cli_prov_id_nombre || '—'}</td></tr>\n                            <tr><td style=\"padding: 6px 0; color: #5b667a;\">Tipo</td><td style=\"padding: 6px 0;\">${cli_tipc_id_nombre || '—'}</td></tr>\n                            <tr><td style=\"padding: 6px 0; color: #5b667a;\">Teléfono</td><td style=\"padding: 6px 0;\">${cli_telefono || '—'}</td></tr>\n                            <tr><td style=\"padding: 6px 0; color: #5b667a;\">Estado</td><td style=\"padding: 6px 0;\">${cli_estcli_id_nombre || '—'}</td></tr>\n                          </table>\n                        </td>\n                      </tr>\n                    </table>\n                    <p style=\"margin: 24px 0 0 0; font-size: 12px; color: #5b667a;\">\n                      Solicitado por: <strong style=\"color: #008bd2;\">${userEmail || '—'}</strong>\n                    </p>\n                    ${botonesHtml}\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding: 20px 32px 28px; border-top: 1px solid #e5e5e5;\">\n                    <p style=\"margin: 0; font-size: 11px; color: #5b667a;\">\n                      Correo generado automáticamente por CRM Gemavip · ${source}\n                    </p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    subject: title,\n    to: toEmail || 'info@farmadescanso.com',\n    from: 'crm-gemavip@farmadescanso.com (CRM Gemavip)',\n    html,\n    body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-512, -256],
      "id": "bc021856-4da1-42b1-b998-e37746f25b16",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "email-to", "name": "to", "value": "={{ $json.to }}", "type": "string" },
            { "id": "email-subject", "name": "subject", "value": "={{ $json.subject }}", "type": "string" },
            { "id": "email-html", "name": "html", "value": "={{ $json.html }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-400, -256],
      "id": "set-email-fields",
      "name": "Set email fields"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "=crm-gemavip@farmadescanso.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [-176, -256],
      "id": "c7839a99-1577-406f-a0e9-4388af48d004",
      "name": "Send Email",
      "credentials": {
        "smtp": {
          "id": "r7KoPuklI2NZlT2L",
          "name": "CRM GEMAVIP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Code in JavaScript", "type": "main", "index": 0 }]]
    },
    "Code in JavaScript": {
      "main": [[{ "node": "Set email fields", "type": "main", "index": 0 }]]
    },
    "Set email fields": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    },
    "Send Email": {
      "main": [[]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "629ef38a-6747-4710-9b91-aca58983a9fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "184e6619f406d4c35630cd89b7ea965bdbc7177a58386f845dd81b7e8515e6d9"
  },
  "id": "Df6ySR9EehKc01Pv",
  "tags": []
}
