n8n-workflow-aprobacion-pedidos.json
{
  "name": "Aprobación Pedidos Gemavip",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d6977a0f-a949-4fdc-bb45-09083fda4f8b",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-960, -256],
      "id": "wh-aprobacion-pedido",
      "name": "Webhook Pedido",
      "webhookId": "d6977a0f-a949-4fdc-bb45-09083fda4f8b"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst d = raw.body || raw;\nconst pedido = d.pedido || {};\nconst cliente = d.cliente || {};\nconst comercial = d.comercial || {};\nconst lineas = Array.isArray(d.lineas) ? d.lineas : [];\nconst excel = d.excel || null;\nconst approveUrl = d.approvalUrlApprove || '';\nconst denyUrl = d.approvalUrlDeny || '';\nconst emailDirector = d.emailDirector || 'info@farmadescanso.com';\nconst emailCc = '';\nconst emailComercial = d.emailComercial || comercial.email || '';\n\nconst numPedido = pedido.numero || String(pedido.id || '');\nconst fecha = pedido.fecha ? new Date(pedido.fecha).toLocaleDateString('es-ES') : '\\u2014';\nconst round2 = (n) => Math.round((Number(n) + Number.EPSILON) * 100) / 100;\nconst fmtN = (n) => Number(n||0).toLocaleString('es-ES', {minimumFractionDigits:2, maximumFractionDigits:2});\nconst fmtE = (n) => fmtN(n) + '\\u20ac';\nconst dtoPct = Number(pedido.dtoPct || 0);\n\nlet sumBase = 0, sumIva = 0;\nconst ivaByPct = {};\nconst td = 'padding:8px 10px;border-bottom:1px solid #e5e5e5;font-size:13px;';\nconst tdr = td + 'text-align:right;';\n\nconst lineasHtml = lineas.map(l => {\n  const p = Number(l.precio||0), q = Number(l.cantidad||0), dt = Number(l.dto||0), iv = Number(l.iva||0);\n  const base = round2(q * p * (1 - dt/100));\n  const iva = round2(base * iv / 100);\n  const tot = round2(base + iva);\n  sumBase += base; sumIva += iva;\n  if (iv > 0) { const k = String(Math.round((iv + Number.EPSILON)*100)/100); if (!ivaByPct[k]) ivaByPct[k] = {pct:iv, sum:0}; ivaByPct[k].sum += iva; }\n  return '<tr>' +\n    '<td style=\"' + td + '\">' + (l.codigo||'\\u2014') + '</td>' +\n    '<td style=\"' + td + '\">' + (l.nombre||'\\u2014') + '</td>' +\n    '<td style=\"' + tdr + '\">' + fmtE(p) + '</td>' +\n    '<td style=\"' + tdr + '\">' + q + '</td>' +\n    '<td style=\"' + tdr + '\">' + (dt ? fmtN(dt)+'%' : '\\u2014') + '</td>' +\n    '<td style=\"' + tdr + '\">' + fmtE(base) + '</td>' +\n    '<td style=\"' + tdr + '\">' + (iv ? fmtN(iv)+'%' : '\\u2014') + '</td>' +\n    '<td style=\"' + tdr + 'font-weight:600;\">' + fmtE(tot) + '</td></tr>';\n}).join('');\n\nconst impDto = dtoPct ? round2(round2(sumBase) * dtoPct/100) : 0;\nconst baseAD = round2(round2(sumBase) - impDto);\nlet ivaTotal = 0;\nconst ivaPctKeys = Object.keys(ivaByPct).sort((a,b) => Number(a)-Number(b));\nconst ivaItems = ivaPctKeys.map(k => { const e = ivaByPct[k]; const imp = round2(baseAD * e.pct / 100); ivaTotal += imp; return {pct:e.pct, imp:imp}; });\nivaTotal = round2(ivaTotal);\nconst totalF = round2(baseAD + ivaTotal);\n\nconst ts = 'padding:6px 10px;font-size:14px;text-align:right;';\nlet totHtml = '<tr><td colspan=\"6\"></td><td style=\"' + ts + 'color:#5b667a;\">SUBTOTAL</td><td style=\"' + ts + 'font-weight:700;\">' + fmtE(round2(sumBase)) + '</td></tr>';\nif (dtoPct) totHtml += '<tr><td colspan=\"6\"></td><td style=\"' + ts + 'color:#5b667a;\">DTO PEDIDO (' + fmtN(dtoPct) + '%)</td><td style=\"' + ts + 'font-weight:700;\">\\u2212' + fmtE(impDto) + '</td></tr>';\ntotHtml += '<tr><td colspan=\"6\"></td><td style=\"' + ts + 'color:#5b667a;\">BASE IMPONIBLE</td><td style=\"' + ts + 'font-weight:700;\">' + fmtE(baseAD) + '</td></tr>';\nfor (const iv of ivaItems) { totHtml += '<tr><td colspan=\"6\"></td><td style=\"' + ts + 'color:#5b667a;\">IMPUESTO (' + fmtN(iv.pct) + '%)</td><td style=\"' + ts + 'font-weight:700;\">' + fmtE(iv.imp) + '</td></tr>'; }\ntotHtml += '<tr><td colspan=\"6\"></td><td style=\"' + ts + 'font-size:16px;font-weight:700;color:#0c143a;border-top:2px solid #0c143a;\">TOTAL</td><td style=\"' + ts + 'font-size:16px;font-weight:700;color:#0c143a;border-top:2px solid #0c143a;\">' + fmtE(totalF) + '</td></tr>';\n\nconst thL = 'padding:10px;font-size:12px;text-align:left;color:#5b667a;';\nconst thR = 'padding:10px;font-size:12px;text-align:right;color:#5b667a;';\nconst tableHeader = '<tr style=\"background:#f1f5f9;\">' +\n  '<th style=\"' + thL + '\">C\\u00f3digo</th>' +\n  '<th style=\"' + thL + '\">Art\\u00edculo</th>' +\n  '<th style=\"' + thR + '\">PVL</th>' +\n  '<th style=\"' + thR + '\">Uds</th>' +\n  '<th style=\"' + thR + '\">Dto</th>' +\n  '<th style=\"' + thR + '\">Subtotal</th>' +\n  '<th style=\"' + thR + '\">IVA</th>' +\n  '<th style=\"' + thR + '\">Total</th></tr>';\n\nconst botonesHtml = (approveUrl && denyUrl)\n  ? '<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" style=\"margin-top:24px;\"><tr><td><a href=\"' + denyUrl + '\" style=\"display:inline-block;padding:12px 28px;background:#1f2a44;color:#fff!important;text-decoration:none;border-radius:10px;font-weight:600;font-size:14px;margin-right:12px;\">Denegar</a><a href=\"' + approveUrl + '\" style=\"display:inline-block;padding:12px 28px;background:#16a34a;color:#fff!important;text-decoration:none;border-radius:10px;font-weight:600;font-size:14px;\">Aprobar</a></td></tr></table>'\n  : '';\n\nconst htmlDirector = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"></head>' +\n'<body style=\"margin:0;padding:0;font-family:\\'Segoe UI\\',Roboto,Arial,sans-serif;background:#f8f8f8;color:#1f2a44;line-height:1.6;\">' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:linear-gradient(180deg,rgba(0,139,210,0.06) 0%,transparent 120px);\">' +\n'<tr><td style=\"padding:40px 20px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:700px;margin:0 auto;background:#fff;border-radius:14px;box-shadow:0 10px 30px rgba(12,20,58,0.10);border:1px solid #e5e5e5;\">' +\n'<tr><td><div style=\"height:4px;background:linear-gradient(90deg,#008bd2,#2ea3f2,#ffba00,#8fae1b);border-radius:14px 14px 0 0;\"></div>' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">' +\n'<tr><td style=\"padding:28px 32px 20px;\"><p style=\"margin:0 0 6px;font-size:12px;color:#5b667a;text-transform:uppercase;letter-spacing:0.5px;\">CRM Gemavip \\u00b7 Aprobaci\\u00f3n de pedido</p><h1 style=\"margin:0;font-size:22px;font-weight:700;color:#0c143a;\">Pedido ' + numPedido + ' pendiente de aprobaci\\u00f3n</h1><p style=\"margin:10px 0 0;font-size:13px;color:#5b667a;\">Fecha: ' + fecha + '</p></td></tr>' +\n'<tr><td style=\"padding:0 32px 24px;\">' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e5e5e5;border-radius:14px;overflow:hidden;margin-bottom:20px;\">' +\n'<tr><td style=\"padding:20px 24px;background:linear-gradient(135deg,rgba(0,139,210,0.08) 0%,rgba(23,66,139,0.04) 100%);\">' +\n'<h2 style=\"margin:0 0 12px;font-size:17px;font-weight:600;color:#0c143a;\">Datos del cliente</h2>' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"font-size:14px;color:#1f2a44;\">' +\n'<tr><td style=\"padding:4px 0;width:130px;color:#5b667a;\">Cliente</td><td style=\"padding:4px 0;font-weight:600;\">' + (cliente.nombre||'\\u2014') + '</td></tr>' +\n'<tr><td style=\"padding:4px 0;color:#5b667a;\">CIF</td><td style=\"padding:4px 0;\">' + (cliente.cif||'\\u2014') + '</td></tr>' +\n'<tr><td style=\"padding:4px 0;color:#5b667a;\">Direcci\\u00f3n</td><td style=\"padding:4px 0;\">' + (cliente.direccion||'\\u2014') + '</td></tr>' +\n'<tr><td style=\"padding:4px 0;color:#5b667a;\">CP / Poblaci\\u00f3n</td><td style=\"padding:4px 0;\">' + (cliente.cp||'') + ' ' + (cliente.poblacion||'\\u2014') + '</td></tr>' +\n'<tr><td style=\"padding:4px 0;color:#5b667a;\">Tel\\u00e9fono</td><td style=\"padding:4px 0;\">' + (cliente.telefono||'\\u2014') + '</td></tr>' +\n'<tr><td style=\"padding:4px 0;color:#5b667a;\">Email</td><td style=\"padding:4px 0;\">' + (cliente.email||'\\u2014') + '</td></tr>' +\n'</table></td></tr></table>' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e5e5e5;border-radius:14px;overflow:hidden;margin-bottom:20px;\">' +\n'<tr><td style=\"padding:16px 24px;background:#f8f8f8;\"><h2 style=\"margin:0 0 4px;font-size:15px;font-weight:600;color:#0c143a;\">Comercial</h2><p style=\"margin:0;font-size:14px;color:#5b667a;\">' + (comercial.nombre||'\\u2014') + ' \\u00b7 ' + (comercial.email||'\\u2014') + '</p></td></tr></table>' +\n'<h3 style=\"margin:0 0 10px;font-size:15px;font-weight:600;color:#0c143a;\">L\\u00edneas del pedido</h3>' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e5e5e5;border-radius:10px;overflow:hidden;\">' +\ntableHeader + lineasHtml + totHtml +\n'</table>' +\nbotonesHtml +\n'</td></tr>' +\n'<tr><td style=\"padding:20px 32px 28px;border-top:1px solid #e5e5e5;\"><p style=\"margin:0;font-size:11px;color:#5b667a;\">Correo generado autom\\u00e1ticamente por CRM Gemavip</p></td></tr>' +\n'</table></td></tr></table></td></tr></table></body></html>';\n\nconst htmlComercial = '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"></head>' +\n'<body style=\"margin:0;padding:0;font-family:\\'Segoe UI\\',Roboto,Arial,sans-serif;background:#f8f8f8;color:#1f2a44;line-height:1.6;\">' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:linear-gradient(180deg,rgba(0,139,210,0.06) 0%,transparent 120px);\">' +\n'<tr><td style=\"padding:40px 20px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:700px;margin:0 auto;background:#fff;border-radius:14px;box-shadow:0 10px 30px rgba(12,20,58,0.10);border:1px solid #e5e5e5;\">' +\n'<tr><td><div style=\"height:4px;background:linear-gradient(90deg,#008bd2,#2ea3f2,#ffba00,#8fae1b);border-radius:14px 14px 0 0;\"></div>' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">' +\n'<tr><td style=\"padding:28px 32px 20px;\"><p style=\"margin:0 0 6px;font-size:12px;color:#5b667a;text-transform:uppercase;letter-spacing:0.5px;\">CRM Gemavip</p><h1 style=\"margin:0;font-size:22px;font-weight:700;color:#0c143a;\">Pedido ' + numPedido + ' en revisi\\u00f3n</h1></td></tr>' +\n'<tr><td style=\"padding:0 32px 24px;\"><p style=\"margin:0 0 16px;font-size:15px;color:#1f2a44;\">Tu pedido <strong>' + numPedido + '</strong> para el cliente <strong>' + (cliente.nombre||'\\u2014') + '</strong> ha sido enviado a revisi\\u00f3n por la direcci\\u00f3n comercial.</p><p style=\"margin:0 0 8px;font-size:14px;color:#5b667a;\">Te notificaremos por email cuando se haya tomado una decisi\\u00f3n.</p>' +\n'<h3 style=\"margin:16px 0 10px;font-size:15px;font-weight:600;color:#0c143a;\">L\\u00edneas del pedido</h3>' +\n'<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e5e5e5;border-radius:10px;overflow:hidden;\">' +\ntableHeader + lineasHtml + totHtml +\n'</table>' +\n'</td></tr>' +\n'<tr><td style=\"padding:20px 32px 28px;border-top:1px solid #e5e5e5;\"><p style=\"margin:0;font-size:11px;color:#5b667a;\">Correo generado autom\\u00e1ticamente por CRM Gemavip</p></td></tr>' +\n'</table></td></tr></table></td></tr></table></body></html>';\n\nconst outputs = [];\nif (emailComercial) {\n  outputs.push({ json: { type: 'comercial', to: emailComercial, subject: 'Pedido ' + numPedido + ' en revisi\\u00f3n \\u00b7 CRM Gemavip', html: htmlComercial } });\n}\noutputs.push({ json: { type: 'director', to: emailDirector, cc: emailCc, subject: 'Pedido ' + numPedido + ' \\u00b7 ' + (cliente.nombre||'Pedido') + ' \\u00b7 Aprobaci\\u00f3n \\u00b7 CRM Gemavip', html: htmlDirector, excelBase64: excel ? excel.base64 : null, excelFilename: excel ? excel.filename : null, excelMime: excel ? excel.mime : 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' } });\nreturn outputs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-512, -256],
      "id": "code-prepare-emails",
      "name": "Preparar Emails"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-is-comercial",
              "leftValue": "={{ $json.type }}",
              "rightValue": "comercial",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-256, -256],
      "id": "if-tipo-email",
      "name": "Es comercial?"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "=crm-gemavip@farmadescanso.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [0, -400],
      "id": "email-comercial",
      "name": "Email Comercial",
      "credentials": {
        "smtp": {
          "id": "r7KoPuklI2NZlT2L",
          "name": "CRM GEMAVIP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst binaryData = {};\n\nif (item.excelBase64) {\n  binaryData.attachment = {\n    data: item.excelBase64,\n    mimeType: item.excelMime || 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',\n    fileName: item.excelFilename || 'pedido.xlsx'\n  };\n}\n\nreturn [{ json: item, binary: binaryData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, -100],
      "id": "code-prepare-binary",
      "name": "Preparar Excel adjunto"
    },
    {
      "parameters": {
        "operation": "send",
        "fromEmail": "=crm-gemavip@farmadescanso.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "attachments": "attachment"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [256, -100],
      "id": "email-director",
      "name": "Email Director + CC",
      "credentials": {
        "smtp": {
          "id": "r7KoPuklI2NZlT2L",
          "name": "CRM GEMAVIP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Pedido": {
      "main": [[{ "node": "Preparar Emails", "type": "main", "index": 0 }]]
    },
    "Preparar Emails": {
      "main": [[{ "node": "Es comercial?", "type": "main", "index": 0 }]]
    },
    "Es comercial?": {
      "main": [
        [{ "node": "Email Comercial", "type": "main", "index": 0 }],
        [{ "node": "Preparar Excel adjunto", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Excel adjunto": {
      "main": [[{ "node": "Email Director + CC", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
