docs/n8n/sincronizacion-holded-gemavip.json
{
  "name": "Sincronización Holded · CRM Gemavip",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "58663207-04f0-4a20-b333-1bd4ff36bf00",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-200, 0],
      "id": "7f8e9a0b-1c2d-4e3f-8a9b-0c1d2e3f4a5b",
      "name": "Webhook sincronización Holded",
      "webhookId": "f47ac10b-58cc-4372-a567-0e02b2c3d4e5"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Payload enviado por CRM (lib/mailer.js → postHoldedSyncToN8nWebhook):\n * - body directo o raw.body (según proxy)\n * - event: holded_sync_approval_request | holded_sync_digest | holded_sync_applied\n * - to, subject, html, text?, cc?, meta, appBaseUrl, source, ts\n */\nconst raw = $input.first().json;\nconst d = raw.body !== undefined && raw.body !== null && typeof raw.body === 'object'\n  ? raw.body\n  : raw;\n\nconst event = String(d.event || '').trim();\nconst to = String(d.to || '').trim();\nconst cc = String(d.cc || '').trim();\nconst subject = String(d.subject || 'CRM Gemavip · Sincronización Holded').trim();\nlet html = String(d.html || '').trim();\n\nif (!to) {\n  throw new Error('Falta destinatario (to). Revisa el POST desde el CRM.');\n}\n\nif (!html) {\n  const t = String(d.text || '').trim();\n  html = t\n    ? '<pre style=\"font-family:Segoe UI,Roboto,Arial,sans-serif;padding:24px;font-size:14px;color:#1f2a44;white-space:pre-wrap;\">' + t.replace(/&/g,'&amp;').replace(/</g,'&lt;') + '</pre>'\n    : '<p style=\"padding:24px;font-family:Segoe UI,Roboto,Arial,sans-serif;color:#64748b;\">(Sin cuerpo HTML; revisa la configuración del CRM.)</p>';\n}\n\nconst etiquetaEvento = {\n  holded_sync_approval_request: 'Decisión de sincronización (enlaces firmados)',\n  holded_sync_digest: 'Resumen de clientes pendientes',\n  holded_sync_applied: 'Sincronización aplicada'\n}[event] || event || 'Notificación Holded';\n\nconst banner = '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin:0 0 16px 0;background:linear-gradient(135deg,rgba(0,139,210,0.12) 0%,rgba(143,174,27,0.08) 100%);border-radius:10px;border:1px solid #e2e8f0;\"><tr><td style=\"padding:12px 16px;font-size:12px;color:#475569;\"><strong style=\"color:#0c143a;\">CRM Gemavip</strong> · Holded · ' + etiquetaEvento + (d.ts ? '<br/><span style=\"color:#94a3b8;\">' + String(d.ts) + '</span>' : '') + '</td></tr></table>';\n\nconst esDocCompleto = /^\\s*<!DOCTYPE/i.test(html) || /^\\s*<html/i.test(html);\nconst htmlFinal = esDocCompleto\n  ? html\n  : '<!DOCTYPE html><html lang=\"es\"><head><meta charset=\"UTF-8\"></head><body style=\"margin:0;padding:0;background:#f4f6f9;\">' + banner + '<div style=\"max-width:640px;margin:0 auto;padding:0 12px 24px;\">' + html + '</div></body></html>';\n\nreturn [{\n  json: {\n    to,\n    cc,\n    subject,\n    html: htmlFinal,\n    event,\n    meta: d.meta || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 0],
      "id": "8a9b0c1d-2e3f-4a5b-9c0d-1e2f3a4b5c6d",
      "name": "Preparar email Holded"
    },
    {
      "parameters": {
        "fromEmail": "=crm-gemavip@farmadescanso.com",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "ccEmail": "={{ $json.cc }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [280, 0],
      "id": "9b0c1d2e-3f4a-5b6c-0d1e-2f3a4b5c6d7e",
      "name": "Enviar email SMTP",
      "credentials": {
        "smtp": {
          "id": "r7KoPuklI2NZlT2L",
          "name": "CRM GEMAVIP"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b2c3d4e5-f6a7-4890-abcd-ef1234567890",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-200, 320],
      "id": "a0b1c2d3-e4f5-4678-9012-3456789abcde",
      "name": "Webhook ejecutar sync (manual)",
      "webhookId": "a9b8c7d6-e5f4-4321-0fed-cba987654321"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst b = raw.body !== undefined && raw.body !== null && typeof raw.body === 'object' ? raw.body : raw;\nconst notifId = Number(b.notifId);\nconst accion = String(b.accion || '').trim().toLowerCase();\nif (!Number.isFinite(notifId) || notifId <= 0) {\n  throw new Error('Falta notifId (número de notificación CRM).');\n}\nconst ok = ['crm_to_holded', 'holded_to_crm', 'revisar'];\nif (!ok.includes(accion)) {\n  throw new Error('accion debe ser: crm_to_holded, holded_to_crm o revisar');\n}\nreturn [{ json: { notifId, accion } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [40, 320],
      "id": "b1c2d3e4-f5a6-4789-0123-456789abcdef",
      "name": "Validar notifId y acción"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crm-gemavip.vercel.app/webhook/aprobar-sync-cliente",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.CRM_GEMAVIP_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ notifId: $json.notifId, accion: $json.accion }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [280, 320],
      "id": "c2d3e4f5-a6b7-4890-1234-567890abcdef0",
      "name": "CRM POST aprobar-sync"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook sincronización Holded": {
      "main": [[{ "node": "Preparar email Holded", "type": "main", "index": 0 }]]
    },
    "Preparar email Holded": {
      "main": [[{ "node": "Enviar email SMTP", "type": "main", "index": 0 }]]
    },
    "Webhook ejecutar sync (manual)": {
      "main": [[{ "node": "Validar notifId y acción", "type": "main", "index": 0 }]]
    },
    "Validar notifId y acción": {
      "main": [[{ "node": "CRM POST aprobar-sync", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
